* {
	padding: 0;
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
}

body {
	min-height: 100vh;
	background: linear-gradient(120deg,yellow,orange);
}

.balance h2, .monthly-budget h2 {
	display: inline;
	margin: 0;
	padding: 0;
	font-weight: bold;
}

span {
	font-size: 30px;
}

.money-section {
	margin-left: 40vw ;
	min-height: 30vh;
	margin-top: 5vh;
	border: blue dotted 2px;
	border-radius: 10px;
	background: rgba(0,0,255,0.3);
}

.necessities  {
	margin-left: 20px;
	min-height: 40vh;
}

.progress {
	max-width: 40vw;
	margin: 0;
}

input[type = "submit"] {
	padding: 0.5rem;
	width: 40vw;
	background: white;
	border: black solid 2px; 
	border-radius: 10px;
}

input[type = "submit"]:hover {
	background: grey;
	color: white;